{% extends "base.html" %}
{% block title %}blog title{% endblock %}

{% block content %}
<div class="row text-conter vertical-middle-sm">
    <h1>我的博客</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
    <ul>
    {% for blog in blogs %}
        <li>{{ blog.title }}</li>
    {% endfor %}
    </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>广告</h2>
        <p>Django学习的博客：https://code.ziqiangxuetang.com/django/django-intro.html</p>
        <img width="200px" src="http://img02.tooopen.com/images/20150706/tooopen_sy_133097623515.jpg">
    </div>
</div>
{% endblock %}
