{% extends "base.html" %}  #⑪
{% block title %}blog title{% endblock %}    #⑫

{% block content %}     #⑬
<div class="row text-conter vertical-middle-sm">
    <h1>我的博客</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-md-8">
    <ul>
    {% for blog in blogs %}    #⑭
        <li>{{ blog.title }}</li>    #⑮
    {% endfor %}
    </ul>
    </div>
    <div class="col-xs-6 col-md-4">
        <h2>广告</h2>
        <p>Django学习的博客：https://code.ziqiangxuetang.com/django/django-intro.html</p>
        <img width="200px" src="http://www.mrwallpaper.com/wallpapers/Fluffy-Cat.jpg">
    </div>
</div>
{% endblock %}
